<div id="signin-page">
  <div class="page-form-wrapper"></div>
  <div class="page-form">
    <form novalidate name="formLogin" class="form">
      <div class="header-content">
        <h1>HỆ THỐNG NHÀ KÍNH</h1>
      </div>
      <div class="body-content">
        
        
        
        <div class="form-group pull-left">
          <button type="submit" class="btn btn-danger" onclick="location.href='https://nth000.github.io/nth-admin/'">
            ADMIN
            &nbsp;<i class="fa fa-cog" ></i>
          </button>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="form-group pull-right">
          <button type="submit" class="btn btn-primary" onclick="location.href='https://nth000.github.io/nth-user/'">
            USER
            &nbsp;<i class="fa fa-child" ></i>
          </button>
        </div>
                  
        
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
